{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<script src="{% static 'static/tailwin.js'%}"></script>
<script src="{% static 'static/tailwin plugin.js'%}"></script>
<div class="nk-content nk-content-fluid ">
    <div class="container-xl wide-lg">
      <div class="nk-content-body">
        <div class="nk-block-head">
          <div class="nk-block-head-sub"><span>Welcome!</span></div>
          <div class="nk-block-between-md g-4">
            <div class="nk-block-head-content">
              <h2 class="nk-block-title fw-normal">{{request.user.username}}</h2>
              <div class="nk-block-des">
                <p>At a glance summary of your account. Have fun!</p>
              </div>
            </div>
            <div class="nk-block-head-content">
              <ul class="nk-block-tools gx-3">
                <li>
                  <a
                    href="{% url 'deposit' user.uuid %}"
                    class="btn btn-primary"
                    ><span>Deposit</span>
                    <em class="icon bi bi-arrow-long-right"></em
                  ></a>
                </li>
                <li>
                  <a
                    href="{% url 'onplan' user.uuid %}"
                    class="btn btn-white btn-light"
                    ><span>Invest</span>
                    <em
                      class="icon bi bi-arrow-long-right d-none d-sm-inline-block"
                    ></em
                  ></a>
                </li>
              
              </ul>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="row gy-gs">
            <div class="col-lg-5 col-xl-4">
              <div class="nk-block">
                <div class="nk-block-head-xs">
                  <div class="nk-block-head-content">
                    <h5 class="nk-block-title title">Overview</h5>
                  </div>
                </div>
                <div class="nk-block">
                  <div
                    class="card card-bordered text-light is-dark h-100"
                  >
                    <div class="card-inner">
                      <div class="nk-wg7">
                        <div class="nk-wg7-stats">
                          <div class="nk-wg7-title">
                            Available balance in USD
                          </div>
                          <div class="number-lg amount">
                            {{user.balance|intcomma}}
                          </div>
                        </div>
                        <div class="nk-wg7-stats-group w-full ">
                          <div class="nk-wg7-stats w-100">
                            <div class="number-sm" id="locationdspal" onload=""></div>
                            <script>apfetch('locationdspal')</script>
                          </div>
                          
                        </div>
                        <div class="nk-wg7-foot">
                          <span class="nk-wg7-note"
                            >Last activity at
                            <span>{{request.user.last_login}}</span></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-xl-8">
              <div class="nk-block">
                <div class="nk-block-head-xs">
                  <div class="nk-block-between-md g-2">
                    <div class="nk-block-head-content">
                      <h5 class="nk-block-title title">
                        INVESTMENT VIEW
                      </h5>
                    </div>
                    <div class="nk-block-head-content">
                     
                    </div>
                  </div>
                </div>
                <div class="row g-2">
                    <div class="col-sm-4">
                        <div class="card bg-light">
                          <div class="nk-wgw sm">
                            <b
                              class="nk-wgw-inner"
                              ><div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                  <i class="icon bi bi-piggy-bank"></i>
                                </div>
                                <h5 class="nk-wgw-title uppercase title">
                                  Deposit
                                </h5>
                              </div>
                              <div class="nk-wgw-balance">
                                <div class="amount">
                                    {{user.depositincome}}<span
                                    class="currency currency-nio"
                                    >USD</span
                                  >
                                </div>
                              </div></b>
                          </div>
                        </div>
                    
                 
                 
                </div>
                    <div class="col-sm-4">
                        <div class="card bg-light">
                          <div class="nk-wgw sm">
                            <b
                              class="nk-wgw-inner"
                              ><div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                  <i class="icon bi bi-piggy-bank"></i>
                                </div>
                                <h5 class="nk-wgw-title uppercase title">
                                  Withdraw
                                </h5>
                              </div>
                              <div class="nk-wgw-balance">
                                <div class="amount">
                                  {{user.withdrawincome}}<span
                                    class="currency currency-nio"
                                    >USD</span
                                  >
                                </div>
                              </div></b>
                          </div>
                        </div>
                    
                 
                 
                </div>
                    <div class="col-sm-4">
                        <div class="card bg-light">
                          <div class="nk-wgw sm">
                            <b
                              class="nk-wgw-inner"
                              ><div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                  <i class="icon bi bi-piggy-bank"></i>
                                </div>
                                <h5 class="nk-wgw-title uppercase title">
                                  NET INCOME
                                </h5>
                              </div>
                              <div class="nk-wgw-balance">
                                <div class="amount">
                                  {{user.netincome}}<span
                                    class="currency currency-nio"
                                    >USD</span
                                  >
                                </div>
                              </div></b>
                          </div>
                        </div>
                    
                 
                 
                </div>
              </div>
              <div class="nk-block nk-block-md">
                <div class="nk-block-head-xs">
                  <div class="nk-block-between-md g-2">
                    <div class="nk-block-head-content">
                      <h6 class="nk-block-title uppercase mt-3 title">
                      current  INVESTMENT
                      </h6>
                    </div>
                    <div class="nk-block-head-content">
                     
                    </div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-sm-8">
                    <div class="card bg-light">
                      <div class="nk-wgw sm">
                        <a
                          class="nk-wgw-inner"
                          href=""
                          ><div class="nk-wgw-name">
                            <div class="nk-wgw-icon">
                              <em class="icon bi bi-cash"></em>
                            </div>
                            <h5 class="nk-wgw-title title min-w-1/2">
                              {% if vl.off == False %}
                                ON PLAN ~ {{vl.date.time}}
                                {% else %}
                               Not on Plan
                            {% endif %}
                            </h5>
                          </div>
                          <div class="nk-wgw-balance">
                            <div class="amount">
                              {% if vl.off == False %}
                              <small class="text-sm">Invested: </small> {{vl.amounttobeadd}}USD
                          
                         {% endif %}
                             <span
                                class="currency currency-nio"
                                >
                                {% if vl.off == False %}
                               <small class="capitalize">profit</small> {{vl.getcourn}}USD
                           
                         {% endif %}
                                </span
                              >

                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" *:w-full   p-5">
            <div class=" w-full">
              <div class="">
                <div class="card-head">
                  <div class="card-title mb-0">
                    <h5 class="title">Recent Activities</h5>
                  </div>
                  <div class="card-tools">
                    <ul class="card-tools-nav">
                      
                      <li class="active">
                        <a
                          href="{% url 'history' user.uuid %}"
                          >All</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- historu -->
                <div class="tranx-list card card-bordered  " >
                  {% if current %}
                  {% for i in  current %}
                  <div id="{{i.uuid}}"  class="tranx-item  w-full">
                    <div class="tranx-col">
                      <div class="tranx-info">
                        <div class="tranx-data">
                          <div class="tranx-label">
                            <a href="" className="">

                              {{i.uuid}}

                            </a>
                            
                            <em
                              class="tranx-icon sm icon bi bi-sign-btc"
                            ></em>
                          </div>
                          <div class="tranx-date">
                            {{i.date}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tranx-col">
                      <div class="tranx-amount">
                        <div class="number idgetch{{i.uuid}}" >
                          {{i.amount}}
                          <span class="currency currency-btc"></span>

                        </div>
                        <div class="number-sm">
                          {{i.amount}}
                          <span class="currency currency-usd">USD</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <center class="min-h-[30px] p-4">EMPTY</center>
                  {% endif %}
                </div>

                <!-- end -->
              </div>
              <script>
                "{% for i in current %}"
                // crptoconverter('idgetch{{i.uuid}}',"{{i.coin.name | lower}}","{{i.amount}}")
                
                setInterval(() => {
                  crptoconverter('idgetch{{i.uuid}}',"{{i.coin.name | lower}}","{{i.amount}}")
                  
                }, 4000)
                " {% endfor %}"
          </script>
            </div>
          </div>
        <div class="nk-block">
          <div class="card card-bordered">
            <div class="nk-refwg">
              <div class="nk-refwg-invite card-inner">
                <div class="nk-refwg-head g-3">
                  <div class="nk-refwg-title">
                    <h5 class="title">Refer Us &amp; Earn</h5>
                    <div class="title-sub">
                      Use the bellow link to invite your friends.
                    </div>
                  </div>
                  <div class="nk-refwg-action">
                    
                    >
                  </div>
                </div>
                <div class="nk-refwg-url">
                  <div class="form-control-wrap">
                    <div
                      class="form-clip clipboard-init"
                      data-clipboard-target="#refUrl"
                      data-success="Copied"
                      data-text="Copy Link"
                    >
                      <em class="clipboard-icon icon bi bi-copy"></em>
                      <span class="clipboard-text">Copy Link</span>
                    </div>
                    <div class="form-icon">
                      <em class="icon bi bi-link-alt"></em>
                    </div>
                    <input
                      type="text"
                      class="form-control copy-text"
                      id="refUrl"
                      value="https://{{site.domain}}/register/?ref={{user.refercode}}/"
                    />
                  </div>
                </div>
              </div>
              <div class="nk-refwg-stats card-inner bg-lighter">
                <div class="nk-refwg-group g-3">
                  <div class="nk-refwg-name">
                    <h6 class="title">
                      My Referral
                      <em
                        class="icon bi bi-info"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        aria-label="Referral Informations"
                        data-bs-original-title="Referral Informations"
                      ></em>
                    </h6>
                  </div>
                  <div class="nk-refwg-info g-3">
                    <div class="nk-refwg-sub">
                      <div class="title">{{user.howmanreferral }}</div>
                      <div class="sub-text">Total Joined</div>
                    </div>
                    <div class="nk-refwg-sub">
                      <div class="title">{{user.referamount}}</div>
                      <div class="sub-text">Referral Earn</div>
                    </div>
                  </div>
                  <div class="nk-refwg-more dropdown mt-n1 me-n1">
                    <a
                      href="#"
                      class="btn btn-icon btn-trigger"
                      data-bs-toggle="dropdown"
                      ><em class="icon bi bi-more-h"></em
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-xs dropdown-menu-end"
                    >
                      <ul class="link-list-plain sm">
                        <li>
                          <a
                            href="#"
                            >7 days</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            >15 Days</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            >30 Days</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="nk-refwg-ck">
                  <canvas
                    class="chart-refer-stats"
                    id="refBarChart"
                    width="508"
                    height="75"
                    style="
                      display: block;
                      box-sizing: border-box;
                      height: 50px;
                      width: 339px;
                    "
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
              <div class="align-center flex-wrap flex-md-nowrap g-4">
                <div class="nk-block-image w-120px flex-shrink-0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 120 118"
                  >
                    <path
                      d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z"
                      transform="translate(0 -1)"
                      fill="#f6faff"
                    ></path>
                    <rect
                      x="18"
                      y="32"
                      width="84"
                      height="50"
                      rx="4"
                      ry="4"
                      fill="#fff"
                    ></rect>
                    <rect
                      x="26"
                      y="44"
                      width="20"
                      height="12"
                      rx="1"
                      ry="1"
                      fill="#e5effe"
                    ></rect>
                    <rect
                      x="50"
                      y="44"
                      width="20"
                      height="12"
                      rx="1"
                      ry="1"
                      fill="#e5effe"
                    ></rect>
                    <rect
                      x="74"
                      y="44"
                      width="20"
                      height="12"
                      rx="1"
                      ry="1"
                      fill="#e5effe"
                    ></rect>
                    <rect
                      x="38"
                      y="60"
                      width="20"
                      height="12"
                      rx="1"
                      ry="1"
                      fill="#e5effe"
                    ></rect>
                    <rect
                      x="62"
                      y="60"
                      width="20"
                      height="12"
                      rx="1"
                      ry="1"
                      fill="#e5effe"
                    ></rect>
                    <path
                      d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z"
                      transform="translate(0 -1)"
                      fill="#798bff"
                    ></path>
                    <path
                      d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z"
                      transform="translate(0 -1)"
                      fill="#6576ff"
                    ></path>
                    <path
                      d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z"
                      transform="translate(0 -1)"
                      fill="none"
                      stroke="#6576ff"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    ></path>
                    <line
                      x1="40"
                      y1="22"
                      x2="57"
                      y2="22"
                      fill="none"
                      stroke="#fffffe"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    ></line>
                    <line
                      x1="40"
                      y1="27"
                      x2="57"
                      y2="27"
                      fill="none"
                      stroke="#fffffe"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    ></line>
                    <line
                      x1="40"
                      y1="32"
                      x2="50"
                      y2="32"
                      fill="none"
                      stroke="#fffffe"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    ></line>
                    <line
                      x1="30.5"
                      y1="87.5"
                      x2="30.5"
                      y2="91.5"
                      fill="none"
                      stroke="#9cabff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></line>
                    <line
                      x1="28.5"
                      y1="89.5"
                      x2="32.5"
                      y2="89.5"
                      fill="none"
                      stroke="#9cabff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></line>
                    <line
                      x1="79.5"
                      y1="22.5"
                      x2="79.5"
                      y2="26.5"
                      fill="none"
                      stroke="#9cabff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></line>
                    <line
                      x1="77.5"
                      y1="24.5"
                      x2="81.5"
                      y2="24.5"
                      fill="none"
                      stroke="#9cabff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></line>
                    <circle
                      cx="90.5"
                      cy="97.5"
                      r="3"
                      fill="none"
                      stroke="#9cabff"
                      stroke-miterlimit="10"
                    ></circle>
                    <circle
                      cx="24"
                      cy="23"
                      r="2.5"
                      fill="none"
                      stroke="#9cabff"
                      stroke-miterlimit="10"
                    ></circle>
                  </svg>
                </div>
                <div class="nk-block-content">
                  <div class="nk-block-content-head px-lg-4">
                    <h5>We’re here to help you!</h5>
                    <p class="text-soft">
                      Ask a question or file a support ticket, manage
                      request, report an issues. Our team support team
                      will get back to you by email.
                    </p>
                  </div>
                </div>
                <div class="nk-block-content flex-shrink-0">
                  <a
                    href="{{site.email}}"
                    class="btn btn-lg btn-outline-primary"
                    >Get Support Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}