{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<script src="{% static 'plan.js'%}" defer></script>

<div class="nk-content nk-content-fluid">
  
          
<div class="w-full h-full items-center justify-center flex ">
        <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow 
                0">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t 
                    order-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 
                        ext-white">
                           CHOOSE INVESTMENT PLAN 
                        </h3>
                       
                    </div>
                    <!-- Modal body -->
                    <div id="plansd" class="p-4 md:p-5">
                        <p class="text-gray-500 
                        ext-gray-400 mb-4">Select your desired Plan:</p>
                        <ul class="space-y-4 mb-4">
                            {% if allp %}
                            {% for i in allp %}
                            <li onclick="this.style.background='red'">
                                <input type="radio" id="{{i.uuid}}" name="job" value="{{i.uuid}}" class="hidden peer" required>
                                <label for="{{i.uuid}}" class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer 
                                over:text-gray-300 
                                order-gray-500 
                                eer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900   
                                0 hover:bg-gray-500">                           
                                    <div class="block">
                                        <div class="w-full text-lg font-semibold uppercase  ">{{i.name}}</div>
                                        <div class="w-full text-gray-500 
                                        ext-gray-400 flex">
                                            
                                            <p>min: ${{i.minplan}}</p>
                                            ~
                                            <p>max: ${{i.maxplan}}</p>
                                        </div>
                                    </div>
                                    <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 
                                    ext-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                                </label>
                            </li>

                            {% endfor %}
                            {% endif %}
                            
                        </ul>
                        <button onclick="document.querySelector('#plansd').classList.add('hidden') ; document.querySelector('#amouns').classList.remove('hidden')" class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
                        g-blue-600 
                        over:bg-blue-700 
                        ocus:ring-blue-800">
                          Next
                        </button>
                        
                    </div>
                    <div class="p-4 md:p-5 hidden" id="amouns">
                        <p class="text-gray-500 
                        ext-gray-400 mb-4">Amount :(balance: {{user.balance}}USD)</p>
                        <ul class="space-y-4 mb-4">
                            
                            <li>
                                <input type="number" id="amount"   value="" class="inline-flex items-center justify-between w-full p-2 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer 
                              
                                eer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 
                                ext-white 
                                0 
                                over:bg-gray-500 peer" required>
                                
                            </li>

                        
                            
                        </ul>
                        <button onclick="ggetintoplan()" class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
                        g-blue-600 
                        over:bg-blue-700 
                        ocus:ring-blue-800">
                           INVEST NOW !!
                        </button>
                        <button onclick="document.querySelector('#plansd').classList.remove('hidden') ; document.querySelector('#amouns').classList.add('hidden')" class="text-white inline-flex w-full justify-center bg-red-700 mt-4 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  
                        ocus:ring-blue-800">
                           back
                        </button>
                        
                    </div>

                </div>
            </div>
        </div>
</div>
{% endblock content %}
 